.DS_Store
.gradle
.idea/**/*.*
!.idea/dictionaries/project.xml
!.idea/inspectionProfiles/Project_Default.xml
.intellijPlatform
.kotlin
.qodana
build

# Local gradle props
local.properties

# Any error files
*.hprof
